/* General framework for paper layout set. No margins or fonts by default. Default fonts set. */
* {
  font-family: "Zeyada", cursive;
}
/* Default size of font set. */
html {
  font-size: 62.5%;
}
/* Background color of webpage set. */
body {
  background-color: rgb(255, 255, 255);
  position: relative;
}
/* Background image added. */
#styling {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  z-index: -2;
}
/* Background color of header set with width and height.*/
header {
  background-color: rgb(68, 66, 66);
  width: 100%;
  height: 10%;
}
/* Styling for header set. */
header h1 {
  display: inline-flex;
  background-color: rgb(84, 131, 114);
  color: rgb(68, 66, 66);
  font-size: 5rem;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  padding-top: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Nav bar set to float right for good responsive design. */
nav {
  float: right;
}
/* Nav bar list set up to follow flex design for responsiveness. Spacing, margins and font-size set. */
nav ul li {
  display: inline-flex;
  justify-content: space-around;
  font-size: 3rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
/* Banner or background image set.*/
#banner {
  position: relative;
  color: rgb(68, 66, 66);
  background-image: url("../images/banner2.png");
  height: 25rem;
  width: 100%;
}
/* Positioning of child "subtitle" set by child and parent "banner." Formatting of font and background box for text of subtitle finished with margins, color, and sizing. */
#banner > #subtitle {
  float: right;
  top: 10rem;
  background-color: rgb(84, 131, 114);
  width: fit-content;
  height: fit-content;
  font-size: 4rem;
  margin-top: 17rem;
  padding-right: 0.2rem;
  padding-left: 0.9rem;
  padding-top: 0.9rem;
}
/* Profile picture included with height and width set and margins to position it within banner background image. */
#banner img {
  height: 19rem;
  width: 19rem;
  margin-top: 2.7rem;
  margin-left: 2.5rem;
}
/* Main section and footer set to flex to ensure responsive design of objects. Font color set. */
main section,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(92, 69, 92);
  font-size: 3rem;
}
/* The h2 tags are formatted so that they appear as a sidebar in the desktop view but as the screen becomes smaller they become headers of each section/article. A border appears on the right at 15% of the screensize for the desktop view. This border switches to being a bottom border with media queries for different sized screens. */
h2 {
  border-right: 0.2rem solid rgb(68, 66, 66);
  min-width: 15%;
  text-align: center;
  font-size: 3rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  padding: 1rem;
}
/* Flex properties set with margin for a nicer appearance to the paragraph "About Me." */
#about p {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
  padding: 1rem;
}
/* The parent tag is set for proper layout/view of images/projects. Along with the child tag the appearance of the images on the screen is set at the desktop view here. */
#parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* The four images of future projects are all set to 50% so that all four can form a grid using flex properties. */
#parent .child {
  display: inline;
  flex-wrap: wrap;
  flex-basis: 50%;
}
/* These are the parent tags for the labels of the images/projects and together with their children help position the text of these labels. The font color is set here. */
#project-1,
#project-2,
#project-3,
#project-4,
#project-5 {
  position: relative;
  color: rgb(68, 66, 66);
}
/* All the rest of the formatting of the text of the labels is included here. A background box is put behind the text and formatted. */
#project-1 > #top-left-1,
#project-2 > #top-left-2,
#project-3 > #top-left-3,
#project-4 > #top-left-4,
#project-5 > #top-left-5 {
  position: absolute;
  top: 3rem;
  background-color: rgb(84, 131, 114);
  width: fit-content;
  font-size: 4rem;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  padding-top: 0.9rem;
}
/* The first project/image is designed to have a border and the appearance is set out here. Opacity is set to .5.*/
#img-1 {
  width: 97%;
  border: solid rgb(84, 131, 114) 0.4rem;
  margin-bottom: 0.4rem;
  opacity: 0.5;
  margin: 1.5rem;
  padding: 2rem;
}
/* Border for other images of projects set out here. Included seperately to avoid putting a box around profile picture in banner. */
.img {
  display: flex;
  float: left;
  width: 97%;
  height: 60vh;
  border: solid rgb(84, 131, 114) 0.4rem;
  opacity: 0.5;
  margin: 1.5rem;
  padding: 2rem;
}
/* Footer set to have a margin so that text does not hug the bottom of the screen. Added default font-size for footer.*/
footer {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}
/* List of contact methods included here. Flex properties set for responsiveness and margins set for best appearance. */
footer ul li {
  display: inline-flex;
  justify-content: space-around;
  margin-right: 3rem;
  margin-top: 1rem;
}
/* Text color of links set when unvisited. */
a:link {
  color: rgb(84, 131, 114);
}
/* Text color of links set when visited, i.e. after the link has been clicked on. */
a:visited {
  color: rgb(84, 131, 114);
}
/* Text color changes and box appears when mouse hovers over link. */
a:hover {
  background-color: rgb(84, 131, 114);
  color: rgb(68, 66, 66);
  border-radius: 0.8rem;
}
/* When mouse hovers over images of projects, the opacity changes to 1 so that the appearance makes it clear the viewer can click on these as links. */
#img-1:hover {
  opacity: 1;
}
img:hover {
  opacity: 1;
}
/* First set of media queries set for larger tablets or smaller laptops. */
@media screen and (max-width: 1140px) {
  /* Profile picture set to disappear as the screen gets smaller. */
  #banner img {
    height: 0rem;
    width: 0rem;
  }
  /* The display of the footer list switches to a column once a certain breakpoint is hit. */
  main section,
  footer {
    display: flex;
    flex-direction: column;
  }

  h2 {
    border-bottom: 0.2rem solid rgb(68, 66, 66);
    border-right: none;
    margin-top: 2rem;
  }

  #img-1 {
    height: 60vh;
    width: 95vw;
    margin-bottom: 0rem;
  }

  .img {
    display: flex;
    flex-direction: column;
    float: none;
    width: 95vw;
  }
  footer {
    margin-left: 0.9rem;
  }
}

@media screen and (max-width: 825px) {
  nav {
    background-color: rgb(68, 66, 66);
    width: 100%;
  }
  nav li {
    margin-left: 0.9rem;
  }
  #parent .child {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 570px) {
  footer {
    text-align: center;
    margin-left: 0rem;
  }
  footer ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width: 540px) {
  #img-1,
  .img {
    height: 50vh;
  }
}

@media screen and (max-width: 430px) {
  #img-1,
  .img {
    height: 30vh;
  }
}
