  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;  
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  header {
      display: inline-block;
      background-color: rgb(68, 66, 66);
      width: 100%;
  }

  header h1 {
      display: flex;
      flex: 2 1 auto;
      background-color: rgb(197, 248, 229);
      color: rgb(68, 66, 66);
      width: fit-content;
      margin-top: .6em;
      font-size: 2.5em;
  }
  nav {
      float: right;
  }

  nav li {
      color: rgb(197, 248, 229);
      display: inline-flex;
      justify-content: space-around;
      font-size: 1.5em;
      margin-right: 1.5em;
      margin-bottom: 1em;
  }

  #banner {
      display: block;
      background-image: url("../images/majid-gheidarlou-LuI6euS7Dno-unsplash.jpg");
      height: 15em;
      width: 100%;
    }

    #banner h2 {
        box-sizing:border-box;
        width: fit-content;
        border: outset rgba(68, 66, 66, 0.253) .1em;
        border-radius: .1em;
        background-color: rgb(197, 248, 229);
        color: rgb(68, 66, 66);
        float: right;
        margin-top: 5em;
        margin-right: 5em;
        font-size: 2em;
    }

  body {
      background-color: lavender;
  }

  main section, footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  h2 {
      align-items: flex-start;
      border-right: 4px solid rgb(68, 66, 66);
      min-width: 200px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 1px;
      font-size: 2em;

  }
  #about p {
      margin: 10px;
  }
  main, footer {
    color: rgb(92, 69, 92);
  }

  h3 {
      display: flex;
      flex: 2 1 auto;
      background-color: rgb(197, 248, 229);
      color: rgb(68, 66, 66);
      width: fit-content;
      margin-top: .3em;
      font-size: 2.5em; 
  }
   .img-1 {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       width: 100%;
       border: solid rgb(197, 248, 229) .4em;
       float: right;
       margin-bottom: .4em;
    } 

  .img {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      border: solid rgb(197, 248, 229) .4em;
      float: right;
      margin-bottom: .4em;
  }  
 
  footer ul li {
      display: inline-flex;
      justify-content: space-around;
      margin-left: 25px;
  }
  @media screen and (max-width: 940px) {
      main section, footer {
          flex-direction: column;
      }

      h2 {
          border-bottom: 4px solid rgb(68, 66, 66);
          border-right: none;
      }
  }
